body {
	width:600px;
	margin: 0px auto;
}

input, textarea {
	display:block;
	width: calc(100% - 6px);
}

textarea {
	width:calc(100% - 6px);
	height:250px;
}

input[type="submit"] {
	width:auto;
}

article {
	border: 1px solid black;
	margin-bottom:1em;
}

.blog-header {
	text-align: center;
}

.blog-header h1 {
	display:inline-block;
}

.blog-title {
	background-color:#ddd;
}