{% extends "container_page.html" %}

{% block content %}
<section>
	<h1>Recent Posts</h1>
	{% for post in posts %}
	<article>
		<header class="blog-title">{{post.subject}}
			<form method="post" action="/delete">
				<input type="hidden" name="delete" value="{{post.get_ID()}}">
				<input type="submit" value="Delete Post">
			</form>
		</header>
		<pre>{{post.content}}</pre>
		<footer>
		</footer>
	</article>
	{% endfor %}
</section>
<footer>
	<form action="/newpost">
		<input type="submit" value="New Post">
	</form>
</footer>

{% endblock %}
{% block logout %}
<a href="/logout">Logout Here</a>
{% endblock %}