{% extends "container_page.html" %}

{% block content %}
<section>
	<h1>Your Post</h1>
	<article>
		<header class="blog-title">{{post.subject}}
			<form method="post" action="/delete">
				<input type="hidden" name="delete" value="{{post.get_ID()}}">
				<input type="submit" value="Delete Post">
			</form>
		</header>
		<pre>{{post.content}}</pre>
		<footer>
		</footer>
	</article>
</section>
<footer>
</footer>
{% endblock %}
<a href="/blog">Go to main blog!</a>
{% block logout %}
<a href="/logout">Logout Here</a>
{% endblock %}